<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.reg-information {
		margin-left:auto;
		margin-right:auto;
	}
</style>
</head>
<body>
	<h1 align=center>대관 등록 내역</h1>
	<table class="reg-information">
	<tr>
	<td>
	<div>
	<h5>공간고유번호</h5>
	<h5>공간이름</h5>
	<img src="/semi/image/person.png"><br>
	<input type=button style="width:200pt; height:35pt; background-color:#ffd014; border:0px; color:black; border-radius: 3px;" value="수정">
	<input type=button style="width:200pt; height:35pt; background-color:white; border:1px solid gray; color:black; border-radius: 3px;" value="보기">
	</div>
	</td>
	<td>
	<div>
	<h5>공간고유번호</h5>
	<h5>공간이름</h5>
	<img src="/semi/image/person.png"><br>
	<input type=button style="width:200pt; height:35pt; background-color:#ffd014; border:0px; color:black; border-radius: 3px;" value="수정">
	<input type=button style="width:200pt; height:35pt; background-color:white; border:1px solid gray; color:black; border-radius: 3px;" value="보기">
	</div>
	</td>
	</tr>
	<tr>
	<td>
	<div>
	<h5>공간고유번호</h5>
	<h5>공간이름</h5>
	<img src="/semi/image/person.png"><br>
	<input type=button style="width:200pt; height:35pt; background-color:#ffd014; border:0px; color:black; border-radius: 3px;" value="수정">
	<input type=button style="width:200pt; height:35pt; background-color:white; border:1px solid gray; color:black; border-radius: 3px;" value="보기">
	</div>
	</td>
	<td>
	<div>
	<h5>공간고유번호</h5>
	<h5>공간이름</h5>
	<img src="/semi/image/kakao.png"><br>
	<input type=button style="width:200pt; height:35pt; background-color:#ffd014; border:0px; color:black; border-radius: 3px;" value="수정">
	<input type=button style="width:200pt; height:35pt; background-color:white; border:1px solid gray; color:black; border-radius: 3px;" value="보기">
	</div>
	</td>
	</tr>
	</table>
</body>
</html>