<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<title>Insert title here</title>


<style>
#center {
	/* 	border: 1px solid black; */
	width: 1300px;
	height: 800px;
	margin: auto;
}

#line {
	border: 0.5px solid gray;
	width: 1300px;
	margin: auto;
}

#text1 {
	width: 180px;
	height: 30px;
	margin-left: 70px;
}
.Subject{
	text-align:center;
}
.Contents{
	text-align:center;
}
</style>

</head>
<body>

	<div id="center" class="fram">
		<!-- 타이틀 -->
		<h2 id="text1">
			<strong>1:1문의등록</strong>

		</h2>
		<!-- 회원관리내역과 검색창 사이의 선 -->
		<div id="line"></div>

		<br> <br>
		
		<div class="container">      
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td class="Contents">user01</td>
        <td class="Contents">문의있습니다</td> 
        <td class="Contents">2019.07.09</td>  
        <td class="Contents"> <button type="button" class="btn btn-primary" id="searchbutton">답변대기</button></td>
      </tr>
        <tr>
        <td class="Contents">user01</td>
        <td class="Contents">문의있습니다</td> 
        <td class="Contents">2019.07.09</td>  
        <td class="Contents"><button type="button" class="btn">답변완료</button> </td>
      </tr>
       <tr>
        <td class="Contents">user01</td>
        <td class="Contents">문의있습니다</td> 
        <td class="Contents">2019.07.09</td>  
        <td class="Contents"> <button type="button" class="btn btn-primary" id="searchbutton">답변대기</button></td>
      </tr>
       <tr>
        <td class="Contents">user01</td>
        <td class="Contents">문의있습니다</td> 
        <td class="Contents">2019.07.09</td>  
        <td class="Contents"> <button type="button" class="btn btn-primary" id="searchbutton">답변대기</button></td>
      </tr>
      
      
      
      
      
      
    </tbody>
  </table>
</div>
		
		</div>
</body>
</html>